<html>
<head><title>Index of /{{ .Dir }}</title></head>
<body>
<h1>Index of /{{ .Dir }}</h1><hr><pre><a href="../">../</a>{{ range .Entries }}
<a href="{{ . }}">{{ . }}</a>{{ end }}
</pre><hr></body>
</html>
